<div class="container">
  <mat-card>
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select a movie genre or food type</ng-template>
          <mat-form-field class="dropdown">
            <mat-select #selectGenre formControlName="movie" [disabled]="selectFood.value != null" placeholder="Genre">
              <mat-option [value]=""></mat-option>
              <mat-option *ngFor="let genre of genres" [value]="genre.id">
                {{genre.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <h3 style="display: inline; padding-left: 30px; padding-right: 30px;">OR</h3>
          <mat-form-field class="dropdown">
            <mat-select #selectFood formControlName="food" [disabled]="selectGenre.value != null" class="dropdown"
              placeholder="Food Type">
              <mat-option [value]=""></mat-option>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field class="dropdown">
            <mat-select #selectFood formControlName="food" [disabled]="selectGenre.value != null" class="dropdown"
              placeholder="Food Type">
              <mat-option [value]=""></mat-option>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>